<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title"><i class="fa-solid fa-money-check-dollar"></i> Rút tiền </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="member-withdraw__form" class="needs-validation" action="/withdraw" method="post">
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <label for="member-withdraw__form-card-id">Số thẻ:</label>
                                            <input id="member-withdraw__form-card-id" type="number" class="form-control"
                                                placeholder="Nhập số thẻ của quý khách (6 số)" name="idCard" />
                                        
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <label for="member-withdraw__form-card-cvv">Mã CVV:</label>
                                            <input id="member-withdraw__form-card-cvv" type="number" class="form-control"
                                                placeholder="Nhập CVV" name="cvv" />
                                          
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <label for="member-withdraw__form-card-date">Ngày hết hạn:</label>
                                            <input type="date" id="member-withdraw__form-card-date" class="form-control"
                                                placeholder="" name="expireDate">
                                     
                                        </div>

                                        <div class="col-md-6 mb-2">
                                            <label for="member-withdraw__form-money">Số tiền:</label>
                                            <input type="number" id="member-withdraw__form-money" class="form-control"
                                                placeholder="Nhập số tiền cần rút" name="amount">
                                           
                                        </div>

                                        <div class="col-md-12 mb-2">
                                            <label for="member-withdraw__form-note">Ghi chú:</label>
                                            <textarea name="note" id="member-withdraw__form-note" class="w-100 px-2" cols="30" placeholder="Ghi chú"></textarea>
                                        </div>
                                             {{#if error}} 
                                        <div class="form-group col-md-12 mt-3">
                                                <div class="alert alert-danger alert-dismissible fade show">
                                                    <button type="button" class="close" data-dismiss="alert">
                                                        &times;
                                                    </button>
                                                    {{error}}
                                                </div>
                                            </div>
                                            {{/if}}  
                                        <div class="col-12">
                                            <div class="d-flex justify-content-end mt-4">
                                                <button type="submit" class="btn btn-space btn-success">
                                                    Xác nhận
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


