<div class="recovery2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-4 offset-xl-4">
                <div class="recovery2__wrapper">
                    <h2 class="recovery2__title">Quên mật khẩu</h2>
                    <form id="recovery2-submit-form-otp" class="recovery2__form needs-validation" novalidate>
                        <div class="form-group">
                            <input type="text" class="form-control" id="otp-code" required placeholder="Mã OTP">
                            <div class="invalid-feedback">
                                Vui lòng nhập mã OTP!
                            </div>
                        </div>
                        <div class="recovery2__form-control">
                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                        </div>
                    </form>

                    <form id="recovery2-submit-form-password" class="recovery2__form needs-validation d-none"
                        novalidate>
                        <div class="form-group">
                            <input type="password" class="form-control" id="new-password" required
                                placeholder="Mật khẩu mới">
                            <div class="invalid-feedback">
                                Vui lòng nhập mật khẩu mới!
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="confirm-password" required
                                placeholder="Xác thực mật khẩu">
                            <div class="invalid-feedback">
                                Vui lòng xác thực mật khẩu!
                            </div>
                            <div id="invalid-recovery2-confirm-password" class="text-danger d-none"
                                style="font-size: 80%;">
                                Mật khẩu xác thực không trùng khớp!
                            </div>
                        </div>
                        <div class="recovery2__form-control">
                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Modal message --}}
<div id="recovery2-modal-message" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="recovery2-modal-body__message"></p>
            </div>
            <div class="modal-footer">
                <button id="recovery2-modal-btn" type="button" class="btn btn-success" data-dismiss="modal">Xác
                    nhận</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const recovery2FormOTP = document.getElementById("recovery2-submit-form-otp")
        const recovery2FormPassword = document.getElementById("recovery2-submit-form-password")
        const recovery2ModalMessage = $('#recovery2-modal-message')
        const recovery2ModalBodyMessage = $('#recovery2-modal-body__message')
        let recovery2Redirect = ''

        recovery2FormOTP.addEventListener('submit', function (event) {
            event.preventDefault()
            event.stopPropagation()
            if (recovery2FormOTP.checkValidity() === false) {
                recovery2FormOTP.classList.add('was-validated')
            } else {
                recovery2FormOTP.classList.remove('was-validated')

                const otpCode = $('#otp-code').val()

                $.ajax({
                    url: "http://localhost:3000/recovery2-otp",
                    type: "POST",
                    data: { otpCode: otpCode },
                    async: false,
                    success: function (result) {
                        if (result.code === 0) {
                            $('#otp-code').attr('disabled', true)
                            $('#recovery2-submit-form-otp .btn').addClass('d-none')
                            recovery2FormPassword.classList.remove('d-none')
                        } else {
                            recovery2ModalBodyMessage.html(result.message)
                            recovery2ModalMessage.modal('show')
                        }

                        if (result.code === 2) {
                            recovery2Redirect = "http://localhost:3000/recovery"
                        }
                    }
                })
            }
        }, false)

        recovery2FormPassword.addEventListener('submit', function (event) {
            event.preventDefault()
            event.stopPropagation()
            if (recovery2FormPassword.checkValidity() === false) {
                recovery2FormPassword.classList.add('was-validated')
            } else {
                recovery2FormPassword.classList.add('was-validated')

                const newPassword = $('#new-password').val()
                const confirmPassword = $('#confirm-password').val()

                if (newPassword === confirmPassword) {
                    $('#invalid-recovery2-confirm-password').addClass('d-none')

                    $.ajax({
                        url: "http://localhost:3000/recovery2-password",
                        type: "POST",
                        data: { newPassword: newPassword, confirmPassword: confirmPassword },
                        async: false,
                        success: function (result) {
                            if (result.code === 0) {
                                recovery2Redirect = "http://localhost:3000/login"
                            }

                            recovery2ModalBodyMessage.html(result.message)
                            recovery2ModalMessage.modal('show')
                        }
                    })
                } else {
                    $('#invalid-recovery2-confirm-password').removeClass('d-none')
                }
            }
        }, false)

        recovery2ModalMessage.on('hidden.bs.modal', function () {
            if (recovery2Redirect) {
                window.location.href = recovery2Redirect
            }
        })
    })
</script>