<div class="dashboard-wrapper user-profile">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title"><i class="fa fa-fw fa-user"></i> Thông tin tài khoản </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                {{!-- Thẻ chứa thông tin tài khoản --}}
                <div class="card user-profile__info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Họ và tên:</label>
                                    <span>Nguyễn Võ Hoàng Vũ</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Ngày sinh:</label>
                                    <span>01/03/2001</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Email:</label>
                                    <span>hoangvu@gmail.com</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Số điện thoại:</label>
                                    <span>0999999999</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Mã tài khoản:</label>
                                    <span>1234</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Tên tài khoản:</label>
                                    <span>hoangvu</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Tình trạng:</label>
                                    <span>Kích hoạt</span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Số dư tài khoản:</label>
                                    <span>1.000.000.000đ</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Ảnh CMND/CCCD (trước):</label>
                                    <img src="/images/CCCD.png" alt="CMND/CCCD">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group mb-2">
                                    <label class="font-weight-bold">Ảnh CMND/CCCD (sau):</label>
                                    <img src="/images/CCCD_sau.png" alt="CMND/CCCD">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{!-- Thẻ chứa form dùng để bổ sung thông tin --}}
                <div class="card mt-3 user-profile__update">
                    <div class="card-header">
                        <h4 class="mb-0 text-danger">Bổ sung CMND/CCCD</h4>
                    </div>
                    <div class="card-body">
                        <form id="user-profile__submit-form" class="needs-validation user-profile__form" novalidate>
                            <div class="form-row">
                                <div class="col-12 col-lg-6">
                                    <div class="form-group user-profile__form-card">
                                        <label class="mb-2 font-weight-bold">Ảnh CMND/CCCD (trước):</label>
                                        <div class="user-profile__form-card-wrapper">
                                            <img id="user-profile__form-view1" src="/images/image-default.jpg"
                                                alt="Image">
                                            <input type="file" class="form-control d-none"
                                                id="user-profile__form-file1" accept="image/*" required
                                                placeholder="Họ và tên">
                                            <label for="user-profile__form-file1">
                                                <i class="fa-solid fa-camera"></i>
                                            </label>
                                            <div class="invalid-feedback">
                                                Vui lòng tải ảnh mặt trước CMND/CCCD
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <div class="form-group user-profile__form-card">
                                        <label class="mb-2 font-weight-bold">Ảnh CMND/CCCD (sau):</label>
                                        <div class="user-profile__form-card-wrapper">
                                            <img id="user-profile__form-view2" src="/images/image-default.jpg"
                                                alt="Image">
                                            <input type="file" class="form-control d-none"
                                                id="user-profile__form-file2" accept="image/*" required
                                                placeholder="Họ và tên">
                                            <label for="user-profile__form-file2">
                                                <i class="fa-solid fa-camera"></i>
                                            </label>
                                            <div class="invalid-feedback">
                                                Vui lòng tải ảnh mặt sau CMND/CCCD
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="user-profile__form-control">
                                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const userProfileForm = document.getElementById("user-profile__submit-form")
        const userProfileFileInput1 = document.getElementById('user-profile__form-file1')
        const userProfileFileInput2 = document.getElementById('user-profile__form-file2')
        const userProfileImageView1 = document.getElementById('user-profile__form-view1')
        const userProfileImageView2 = document.getElementById('user-profile__form-view2')

        userProfileForm.addEventListener('submit', function (event) {
            event.preventDefault()
            event.stopPropagation()
            if (userProfileForm.checkValidity() === false) {
                userProfileForm.classList.add('was-validated')
            } else {
                userProfileForm.classList.remove('was-validated')
            }
        }, false)

        // Sự kiện thêm ảnh mặt trước
        userProfileFileInput1.addEventListener('change', function (e) {
            if (userProfileFileInput1.files.lenght !== 0) {
                const file = e.target.files[0]
                const reader = new FileReader()

                reader.onload = function (e) {
                    userProfileImageView1.setAttribute('src', e.target.result)
                }

                reader.readAsDataURL(file)
            }
        })

        // Sự kiện thêm ảnh mặt sau
        userProfileFileInput2.addEventListener('change', function (e) {
            if (userProfileFileInput2.files.lenght !== 0) {
                const file = e.target.files[0]
                const reader = new FileReader()

                reader.onload = function (e) {
                    userProfileImageView2.setAttribute('src', e.target.result)
                }

                reader.readAsDataURL(file)
            }
        })
    })
</script>