<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title"><i class="fa-solid fa-money-bill-transfer"></i> Chuyển tiền </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="user-transfer__form-info" class="needs-validation" novalidate>
                                    <div class="row">
                                        {{!-- Input số điện thoại người nhận --}}
                                        <div class="col-md-6 mb-2">
                                            <label for="user-transfer__form-info-phone">Số điện thoại người
                                                nhận:</label>
                                            <input id="user-transfer__form-info-phone" type="number"
                                                class="form-control" placeholder="Nhập số điện thoại người nhận"
                                                required />
                                            <div class="invalid-feedback">
                                                Vui lòng nhập số điện thoại
                                            </div>
                                            <p class="d-none text-danger" id="user-transfer__form-info-phone-invalid">
                                                Số điện thoại không hợp lệ</p>
                                        </div>

                                        {{!-- Input số tiền cần chuyển --}}
                                        <div class="col-md-6 mb-2">
                                            <label for="user-transfer__form-info-money">Số tiền chuyển:</label>
                                            <input id="user-transfer__form-info-money" type="number"
                                                class="form-control" placeholder="Nhập số tiền cần chuyển" required />
                                            <div class="invalid-feedback">
                                                Vui lòng nhập số tiền cần chuyển
                                            </div>
                                            <p class="d-none text-danger" id="user-transfer__form-info-money-invalid">
                                                Số tiền phải lớn hơn 0</p>
                                        </div>

                                        {{!-- Input ghi chú --}}
                                        <div class="col-md-12 mb-2">
                                            <label for="user-transfer__form-info-note">Ghi chú:</label>
                                            <textarea name="" id="user-transfer__form-info-note" class="w-100 px-2"
                                                cols="30" placeholder="Ghi chú"></textarea>
                                        </div>

                                        {{!-- Input phí chuyển tiền --}}
                                        <div class="col-md-12 mb-2">
                                            Phí giao dịch: <span id="user-transfer__form-info-fee">0đ</span> (5%
                                            số
                                            tiền chuyển khoản)
                                        </div>

                                        {{!-- Checkbox người nhận trả phí --}}
                                        <div class="col-md-12 mb-2">
                                            <input type="checkbox" id="user-transfer__form-info-checked">
                                            <label class="form-check-label" for="user-transfer__form-info-checked">
                                                Người nhận trả phí
                                            </label>
                                        </div>

                                        <div class="col-12">
                                            <div class="d-flex justify-content-end">
                                                <button type="submit" id="user-transfer__form-info-btn" class="btn btn-space btn-success">Xác
                                                    nhận</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <form id="user-transfer__form-confirm" class="needs-validation d-none" novalidate>
                                    <div class="row">
                                        {{!-- Input tên người nhận --}}
                                        <div class="col-md-6 mb-2">
                                            <label for="user-transfer__form-confirm-name">Tên người nhận:</label>
                                            <input id="user-transfer__form-confirm-name" type="number"
                                                class="form-control" placeholder="Nhập số điện thoại người nhận"
                                                readonly />
                                        </div>

                                        {{!-- Input mã OTP --}}
                                        <div class="col-md-6 mb-2">
                                            <label for="user-transfer__form-confirm-otp">Nhập mã OTP:</label>
                                            <input id="user-transfer__form-confirm-otp" type="number"
                                                class="form-control" placeholder="Nhập mã OTP" required />
                                            <div class="invalid-feedback">
                                                Vui lòng nhập mã OTP
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="d-flex justify-content-end">
                                                <button type="submit" class="btn btn-space btn-success">Chuyển tiền</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        const userTransferInfoForm = document.getElementById("user-transfer__form-info")
        const userTransferInfoInputPhone = $('#user-transfer__form-info-phone')
        const userTransferInfoInputMoney = $('#user-transfer__form-info-money')
        const userTransferInfoInputNote = $('#user-transfer__form-info-note')
        const userTransferInfoChecked = $('#user-transfer__form-info-checked')
        const userTransferInfoFee = $('#user-transfer__form-info-fee')
        const userTransferInfoBtn = $('#user-transfer__form-info-btn')

        let userTransferInfoPhone = false
        let userTransferInfoMoney = false

        const userTransferConfirmForm = document.getElementById("user-transfer__form-confirm")

        //* Xử lý Form Info */
        // Sự kiện gửi form lên
        userTransferInfoForm.addEventListener('submit', function (event) {
            event.preventDefault()
            event.stopPropagation()
            if (userTransferInfoForm.checkValidity() === false) {
                userTransferInfoForm.classList.add('was-validated')
            } else {
                userTransferInfoForm.classList.remove('was-validated')

                if (userTransferInfoPhone && userTransferInfoMoney) {
                    console.log('Lấy mã OTP và thông tin người nhận tiền')
                    userTransferInfoBtn.addClass('d-none')

                    userTransferInfoInputPhone.attr('readonly', true)
                    userTransferInfoInputMoney.attr('readonly', true)
                    userTransferInfoInputNote.attr('readonly', true)
                    userTransferInfoChecked.attr('disabled', true)



                    userTransferConfirmForm.classList.remove('d-none')
                }
            }
        }, false)

        // Bắt sự kiện nhập số điện thoại người nhận
        userTransferInfoInputPhone.change(function () {
            const value = userTransferInfoInputPhone.val()

            if (!isVietnamesePhoneNumber(value)) {
                $('#user-transfer__form-info-phone-invalid').removeClass('d-none')
                userTransferInfoPhone = false
            } else {
                $('#user-transfer__form-info-phone-invalid').addClass('d-none')
                userTransferInfoPhone = true
            }
        })

        // Bắt sự kiện nhập số tiền
        userTransferInfoInputMoney.change(function () {
            const value = parseInt(userTransferInfoInputMoney.val())

            if (!value || value <= 0) {
                $('#user-transfer__form-info-money-invalid').removeClass('d-none')
                userTransferInfoMoney = false
            } else {
                $('#user-transfer__form-info-money-invalid').addClass('d-none')
                userTransferInfoMoney = true

                // Tính phí gửi 
                userTransferInfoFee.text(`${formatMoney(value * 0.05)}đ`)
            }
        })

        // Kiểm tra số điện thoại
        function isVietnamesePhoneNumber(number) {
            return /(84|0[3|5|7|8|9])+([0-9]{8})\b/.test(number);
        }

        // Format tiền
        function formatMoney(a) {
            const formatter = new Intl.NumberFormat('vi-VN')

            return formatter.format(a)
        }

        //** Xử lý Form Confirm */
        userTransferConfirmForm.addEventListener('submit', function (event) {
            event.preventDefault()
            event.stopPropagation()
            if (userTransferConfirmForm.checkValidity() === false) {
                userTransferConfirmForm.classList.add('was-validated')
            } else {
                userTransferConfirmForm.classList.remove('was-validated')
                alert('Chuyển tiền thành công')
            }
        }, false)
    })
</script>