<link rel="stylesheet" href="/css/recovery.css">

<div class="recovery">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-4 offset-xl-4">
                <div class="recovery__wrapper">
                    <h2 class="recovery__title">Quên mật khẩu</h2>
                    <form id="submit-form" class="recovery__form needs-validation" method="post" action="/recovery">
                        <div class="form-group">
                            <input type="text" class="form-control" id="email" name="email" value="{{email}}" 
                                placeholder="Email đăng ký">
                         
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="phone" name="phone" value="{{phone}}" 
                                placeholder="Số điện thoại đăng ký - 09XXXXXXXX">
                
                        </div>
                         {{#if error}} 
                           <div class="form-group">
								<div class="alert alert-danger alert-dismissible fade show">
									<button type="button" class="close" data-dismiss="alert">
										&times;
									</button>
									{{error}}
								</div>
							</div>
                            {{/if}}
                        <div class="recovery__form-control">
                            <button type="submit" class="btn btn-primary">Tiếp theo</button>
                            <div class="d-flex justify-content-center mt-4">
                                <a href="/login">Quay lại đăng nhập</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const form = document.getElementById("submit-form")

        form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
                event.preventDefault()
                event.stopPropagation()
            }
            form.classList.add('was-validated')
        }, false)
    })
</script>
