<div class="user-sitebar d-none d-lg-block">
    <h5 class="user-sitebar__title">Menu</h5>
    <ul class="user-sitebar__list">
        <li class="user-sitebar__item">
            <a class="nav-link" href="/">
                <i class="fa fa-fw fa-user"></i> 
                Thông tin tài khoản
            </a>
        </li>
        <li class="user-sitebar__item">
            <a class="nav-link" href="/transactions">
                <i class="fa-solid fa-clock-rotate-left"></i>
                Lịch sử giao dịch
            </a>
        </li>
        <li class="user-sitebar__item">
            <a class="nav-link" href="/deposit">
                <i class="fa-solid fa-file-invoice-dollar"></i>
                Nạp tiền vào tài khoản
            </a>
        </li>
        <li class="user-sitebar__item">
            <a class="nav-link" href="/withdraw">
                <i class="fa-solid fa-money-check-dollar"></i>
                Rút tiền
            </a>
        </li>
        <li class="user-sitebar__item">
            <a class="nav-link" href="/transfer">
                <i class="fa-solid fa-money-bill-transfer"></i>
                Chuyển tiền
            </a>
        </li>
        <li class="user-sitebar__item">
            <a class="nav-link" href="/card">
                <i class="fa-solid fa-credit-card"></i> 
                Mua thẻ điện thoại
            </a>
        </li>
        <li class="user-sitebar__item">
            <a class="nav-link" href="/change-password">
                <i class="fa-solid fa-lock"></i>
                Đổi mật khẩu
            </a>
        </li>
        <li class="user-sitebar__item">
            <a class="nav-link" href="/logout">
                <i class="fa-solid fa-right-from-bracket"></i> 
                Đăng xuất
            </a>
        </li>
    </ul>
</div>