<div class="dashboard-wrapper user-deposit">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title"><i class="fa-solid fa-file-invoice-dollar"></i> Nạp tiền </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="user-deposit__form" class="needs-validation" novalidate>
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <label for="user-deposit__form-card-id">Số thẻ:</label>
                                            <input id="user-deposit__form-card-id" type="number" class="form-control"
                                                placeholder="Nhập số thẻ của quý khách (6 số)" required />
                                            <div class="invalid-feedback">
                                                Vui lòng nhập mã thẻ
                                            </div>
                                            <p class="d-none text-danger" id="user-deposit__form-card-id-invalid">
                                                Vui lòng nhập số thẻ gồm 6 số</p>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <label for="user-deposit__form-card-cvv">Mã CVV:</label>
                                            <input id="user-deposit__form-card-cvv" type="number" class="form-control"
                                                placeholder="Nhập CVV" required />
                                            <div class="invalid-feedback">
                                                Vui lòng nhập mã CVV
                                            </div>
                                            <p class="d-none text-danger" id="user-deposit__form-card-cvv-invalid">
                                                Vui lòng nhập mã CVV gồm 3 chữ số</p>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <label for="user-deposit__form-card-date">Ngày hết hạn:</label>
                                            <input type="date" id="user-deposit__form-card-date" class="form-control"
                                                placeholder="" required>
                                            <div class="invalid-feedback">
                                                Vui lòng chọn ngày hết hạn của thẻ
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <label for="user-deposit__form-money">Số tiền:</label>
                                            <input type="number" id="user-deposit__form-money" class="form-control"
                                                placeholder="Nhập số tiền cần nạp" required>
                                            <div class="invalid-feedback">
                                                Vui lòng nhập số tiền cần rút
                                            </div>
                                            <p class="d-none text-danger" id="user-deposit__form-money-invalid">
                                                Vui lòng nhập số tiền phải lớn hơn 0</p>
                                        </div>

                                        <div class="col-12">
                                            <div class="d-flex justify-content-end mt-4">
                                                <button type="submit" id="user-deposit__form-btn"
                                                    class="btn btn-space btn-success">
                                                    Xác nhận
                                                </button>
                                            </div>
                                        </div>
                                        <div id="user-deposit__form-loader"
                                            class="col-12 d-none justify-content-center">
                                            <div class="loader"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Modal Message --}}
<div class="modal fade" id="user-deposit__modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="user-deposit__modal-title">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="user-deposit__modal-message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Xác nhận</button>
            </div>
        </div>
    </div>
</div>