<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title"><i class="fa-solid fa-credit-card"></i> Mua thẻ điện thoại </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="user-card__form" class="needs-validation" novalidate>
                                    {{!-- <div class="form-group">
                                        <label for="nhamang">Chọn nhà mạng:</label>
                                        <select class="form-select col d-flex justify-content-center">
                                            <option value="Viettel">Viettel</option>
                                            <option value="MobilePhone">MobilePhone</option>
                                            <option value="VinaPhone">VinaPhone</option>
                                        </select>
                                    </div> --}}
                                    <div class="form-group">
                                        <label>Chọn nhà mạng:</label>
                                        <div
                                            class="d-flex align-items-center justify-content-center flex-column flex-md-row">
                                            <div class="user-card__network">
                                                <input class="form-check-input d-none" type="radio"
                                                    name="user-card__network-options" id="user-card__network--viettel"
                                                    value="Viettel" checked>
                                                <label class="form-check-label" for="user-card__network--viettel">
                                                    <img src="/images/viettel-logo.jpg" alt="Viettel">
                                                </label>
                                            </div>
                                            <div class="user-card__network">
                                                <input class="form-check-input d-none" type="radio"
                                                    name="user-card__network-options" id="user-card__network--mobifone"
                                                    value="Mobifone">
                                                <label class="form-check-label" for="user-card__network--mobifone">
                                                    <img src="/images/mobifone-logo.jpg" alt="Mobifont">
                                                </label>
                                            </div>
                                            <div class="user-card__network">
                                                <input class="form-check-input d-none" type="radio"
                                                    name="user-card__network-options" id="user-card__network--vinaphone"
                                                    value="Vinaphone">
                                                <label class="form-check-label" for="user-card__network--vinaphone">
                                                    <img src="/images/vinaphone-logo.jpg" alt="Vinaphone">
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="user-card__form-price">Chọn mệnh giá:</label>
                                        <select id="user-card__form-price"
                                            class="form-control col d-flex justify-content-center">
                                            <option value="10000">10.000 VNĐ</option>
                                            <option value="20000">20.000 VNĐ</option>
                                            <option value="50000">50.000 VNĐ</option>
                                            <option value="100000">100.000 VNĐ</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="user-card__form-quantity">Số lượng:</label>
                                        <select id="user-card__form-quantity"
                                            class="form-control col d-flex justify-content-center">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        Phí giao dịch: 0đ
                                    </div>

                                    <h3>Tổng tiền: <span id="user-card__form-total">0đ</span></h3>

                                    <div class="form-group row text-right">
                                        <div class="col col-sm-10 col-lg-12 offset-lg-0">
                                            <button id="user-card__form-btn" type="submit"
                                                class="btn btn-space btn-success">Xác nhận</button>
                                        </div>
                                    </div>

                                    <div id="user-card__form-loader" class="form-group d-none justify-content-center">
                                        <div class="loader"></div>
                                    </div>
                                </form>

                                <div id="user-card__result" class="d-none">
                                    <h4>Thông tin thẻ cào:</h4>
                                    <div class="table-responsive">
                                        <table id="user-card__result-table"
                                            class="table table-bordered second" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Mã thẻ</th>
                                                    <th>Nhà mạng</th>
                                                    <th>Giá tiền</th>
                                                </tr>
                                            </thead>
                                            <tbody id="user-card__result-table-body">
                                                <tr>
                                                    <td>111100001</td>
                                                    <td>Viettel</td>
                                                    <td>100.000đ</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Modal message --}}
<div id="card-modal-message" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="card-modal-body__message"></p>
            </div>
            <div class="modal-footer">
                <button id="recovery2-modal-btn" type="button" class="btn btn-success" data-dismiss="modal">Xác
                    nhận</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const userCardForm = document.getElementById('user-card__form')
        const userCardSelectPrice = $('#user-card__form-price')
        const userCardSelectQuantity = $('#user-card__form-quantity')
        const userCardTotalPrice = $('#user-card__form-total')
        const userCardLoader = $('#user-card__form-loader')
        const userCardBtn = $('#user-card__form-btn')

        const cardModalMessage = $('#card-modal-message')
        const cardModalBodyMessage = $('#card-modal-body__message')

        updateUserCardTotalPrice()

        // Sự kiện gửi form lên
        userCardForm.addEventListener('submit', function (event) {
            event.preventDefault()
            event.stopPropagation()
            if (userCardForm.checkValidity() === false) {
                userCardForm.classList.add('was-validated')
            } else {
                userCardForm.classList.remove('was-validated')
                userCardLoader.removeClass('d-none')
                userCardLoader.addClass('d-flex')
                userCardBtn.addClass('d-none')

                updateUserCardTotalPrice()

                const nameCardPhone = $('input[name="user-card__network-options"]:checked').val()
                const typeCardPhone = parseInt(userCardSelectPrice.val())
                const numberCardPhone = parseInt(userCardSelectQuantity.val())

                const cardData = {
                    name: nameCardPhone,
                    type: typeCardPhone,
                    number: numberCardPhone,
                }

                // Set timeout để tạo hiệu ứng loader trong khi thực hiện dữ liệu
                setTimeout(function () {
                    $.ajax({
                        url: "http://localhost:3000/card",
                        type: "POST",
                        data: cardData,
                        async: false,
                        success: function (result) {
                            userCardLoader.addClass('d-none')
                            userCardLoader.removeClass('d-flex')
                            userCardBtn.removeClass('d-none')

                            if (result.code === 0) {
                                $('#user-card__result').removeClass('d-none')
                                $('#user-card__result-table-body tr').empty()

                                const { cardPhoneList, name, type } = result.data

                                cardPhoneList.forEach(cardPhone => {
                                    $('#user-card__result-table-body').append(`
                                    <tr>
                                        <td>${cardPhone}</td>
                                        <td>${name}</td>
                                        <td>${formatMoney(type)}đ</td>
                                    </tr>
                                `)
                                })

                                userCardForm.reset()

                                updateUserCardTotalPrice()
                            }

                            cardModalBodyMessage.html(result.message)
                            cardModalMessage.modal('show')
                        }
                    })
                }, 1000)
            }
        }, false)

        // Bắt sự kiện đổi mệnh giá thẻ
        userCardSelectPrice.change(function () {
            updateUserCardTotalPrice()
        })

        // Bắt sự kiện đổi số lượng thẻ mua
        userCardSelectQuantity.change(function () {
            updateUserCardTotalPrice()
        })

        // Cập nhật lại tổng tiền
        function updateUserCardTotalPrice() {
            const price = userCardSelectPrice.val()
            const quantity = userCardSelectQuantity.val()

            userCardTotalPrice.text(`${formatMoney(price * quantity)}đ`)
        }

        // Format tiền
        function formatMoney(a) {
            const formatter = new Intl.NumberFormat('vi-VN')

            return formatter.format(a)
        }
    })
</script>