<div class="dashboard-wrapper user-deposit">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title"><i class="fa-solid fa-file-invoice-dollar"></i> Nạp tiền </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="user-deposit__form" class="needs-validation" novalidate>
                                    <div class="row">
                                        <div class="col-md-6 mb-2">
                                            <label for="user-deposit__form-card-id">Số thẻ:</label>
                                            <input id="user-deposit__form-card-id" type="number" class="form-control"
                                                placeholder="Nhập số thẻ của quý khách (6 số)" required />
                                            <div class="invalid-feedback">
                                                Vui lòng nhập mã thẻ
                                            </div>
                                            <p class="d-none text-danger" id="user-deposit__form-card-id-invalid">Số
                                                thẻ phải gồm 6 số</p>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <label for="user-deposit__form-card-cvv">Mã CVV:</label>
                                            <input id="user-deposit__form-card-cvv" type="number" class="form-control"
                                                placeholder="Nhập CVV" required />
                                            <div class="invalid-feedback">
                                                Vui lòng nhập mã CVV
                                            </div>
                                            <p class="d-none text-danger" id="user-deposit__form-card-cvv-invalid">Mã
                                                CVV gồm 3 chữ số</p>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <label for="user-deposit__form-card-date">Ngày hết hạn:</label>
                                            <input type="date" id="user-deposit__form-card-date" class="form-control"
                                                placeholder="" required>
                                            <div class="invalid-feedback">
                                                Vui lòng chọn ngày hết hạn của thẻ
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <label for="user-deposit__form-money">Số tiền:</label>
                                            <input type="number" id="user-deposit__form-money" class="form-control"
                                                placeholder="Nhập số tiền cần nạp" required>
                                            <div class="invalid-feedback">
                                                Vui lòng nhập số tiền cần rút
                                            </div>
                                            <p class="d-none text-danger" id="user-deposit__form-money-invalid">Số
                                                tiền phải lớn hơn 0</p>
                                        </div>

                                        <div class="col-12">
                                            <div class="d-flex justify-content-end mt-4">
                                                <button type="submit" class="btn btn-space btn-success">
                                                    Xác nhận
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const userDepositForm = document.getElementById("user-deposit__form")
        const userDepositInputCardId = $('#user-deposit__form-card-id')
        const userDepositInputCardCVV = $('#user-deposit__form-card-cvv')
        const userDepositInputMoney = $('#user-deposit__form-money')

        let checkUserDepositCardId = false // Cờ kiểm tra số thẻ đúng định dạng chưa trước khi submit
        let checkUserDepositCardCVV = false
        let checkUserDepositMoney = false

        // Sự kiện gửi form lên
        userDepositForm.addEventListener('submit', function (event) {
            event.preventDefault()
            event.stopPropagation()
            if (userDepositForm.checkValidity() === false) {
                userDepositForm.classList.add('was-validated')
            } else {
                userDepositForm.classList.remove('was-validated')

                if (checkUserDepositCardId && checkUserDepositCardCVV && checkUserDepositMoney) {
                    // Tiến hành xử lý form gửi lên
                    console.log('Nạp tiền thành công')
                    userDepositForm.reset()
                }
            }
        }, false)

        // Bắt sự kiện thay đổi của thẻ input Số thẻ
        userDepositInputCardId.change(function () {
            const value = parseInt(userDepositInputCardId.val())

            if (!value || value < 100000 || value > 999999) {
                $('#user-deposit__form-card-id-invalid').removeClass('d-none')
                checkUserDepositCardId = false
            } else {
                $('#user-deposit__form-card-id-invalid').addClass('d-none')
                checkUserDepositCardId = true
            }
        })

        // Bắt sự kiện thay đổi của thẻ input Mã CVV
        userDepositInputCardCVV.change(function () {
            const value = parseInt(userDepositInputCardCVV.val())

            if (!value || value < 100 || value > 999) {
                $('#user-deposit__form-card-cvv-invalid').removeClass('d-none')
                checkUserDepositCardCVV = false
            } else {
                $('#user-deposit__form-card-cvv-invalid').addClass('d-none')
                checkUserDepositCardCVV = true
            }
        })

        // Bắt sự kiện số tiền nạp thay đổi
        userDepositInputMoney.change(function () {
            const value = parseInt(userDepositInputMoney.val())

            if (!value || value <= 0) {
                $('#user-deposit__form-money-invalid').removeClass('d-none')
                checkUserDepositMoney = false
            } else {
                $('#user-deposit__form-money-invalid').addClass('d-none')
                checkUserDepositMoney = true
            }
        })
    })
</script>