<div class="dashboard-wrapper user-transfer">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title"><i class="fa-solid fa-money-bill-transfer"></i> Chuyển tiền </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="user-transfer__form-info" class="needs-validation" novalidate>
                                    <div class="row">
                                        {{!-- Input số điện thoại người nhận --}}
                                        <div class="col-md-6 mb-2">
                                            <label for="user-transfer__form-info-phone">Số điện thoại người
                                                nhận:</label>
                                            <input id="user-transfer__form-info-phone" type="number"
                                                class="form-control" placeholder="Nhập số điện thoại người nhận"
                                                required />
                                            <div class="invalid-feedback">
                                                Vui lòng nhập số điện thoại
                                            </div>
                                            <p class="d-none text-danger" id="user-transfer__form-info-phone-invalid">
                                                Số điện thoại không hợp lệ</p>
                                        </div>

                                        {{!-- Input số tiền cần chuyển --}}
                                        <div class="col-md-6 mb-2">
                                            <label for="user-transfer__form-info-money">Số tiền chuyển:</label>
                                            <input id="user-transfer__form-info-money" type="number"
                                                class="form-control" placeholder="Nhập số tiền cần chuyển" required />
                                            <div class="invalid-feedback">
                                                Vui lòng nhập số tiền cần chuyển
                                            </div>
                                            <p class="d-none text-danger" id="user-transfer__form-info-money-invalid">
                                                Số tiền tối thiểu từ 1.000đ</p>
                                        </div>

                                        {{!-- Input ghi chú --}}
                                        <div class="col-md-12 mb-2">
                                            <label for="user-transfer__form-info-note">Ghi chú:</label>
                                            <textarea name="" id="user-transfer__form-info-note" class="w-100 px-2"
                                                cols="30" placeholder="Ghi chú"></textarea>
                                        </div>

                                        {{!-- Input phí chuyển tiền --}}
                                        <div class="col-md-12 mb-2">
                                            Phí giao dịch: <span id="user-transfer__form-info-fee">0đ</span> (5%
                                            số
                                            tiền chuyển khoản)
                                        </div>

                                        {{!-- Checkbox người nhận trả phí --}}
                                        <div class="col-md-12 mb-2">
                                            <input type="checkbox" id="user-transfer__form-info-checked">
                                            <label class="form-check-label" for="user-transfer__form-info-checked">
                                                Người nhận trả phí
                                            </label>
                                        </div>

                                        <div class="col-12">
                                            <div class="d-flex justify-content-end">
                                                <button type="submit" id="user-transfer__form-info-btn"
                                                    class="btn btn-space btn-success">Xác
                                                    nhận</button>
                                            </div>
                                        </div>

                                        <div id="user-transfer__form-info-loader"
                                            class="col-12 d-none justify-content-center">
                                            <div class="loader"></div>
                                        </div>
                                    </div>
                                </form>

                                <form id="user-transfer__form-confirm" class="needs-validation d-none" novalidate>
                                    <div class="row">
                                        {{!-- Input tên người nhận --}}
                                        <div class="col-md-6 mb-2">
                                            <label for="user-transfer__form-confirm-name">Tên người nhận:</label>
                                            <input id="user-transfer__form-confirm-name" type="text"
                                                class="form-control" placeholder="Nhập số điện thoại người nhận"
                                                disabled />
                                        </div>

                                        {{!-- Input mã OTP --}}
                                        <div class="col-md-6 mb-2">
                                            <label for="user-transfer__form-confirm-otp">Nhập mã OTP:</label>
                                            <input id="user-transfer__form-confirm-otp" type="text" class="form-control"
                                                placeholder="Nhập mã OTP" required />
                                            <div class="invalid-feedback">
                                                Vui lòng nhập mã OTP
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="d-flex justify-content-end">
                                                <button type="submit" class="btn btn-space btn-success">Chuyển
                                                    tiền</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Modal message --}}
<div id="transfer-modal-message" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="transfer-modal-body__message"></p>
            </div>
            <div class="modal-footer">
                <button id="recovery2-modal-btn" type="button" class="btn btn-success" data-dismiss="modal">Xác
                    nhận</button>
            </div>
        </div>
    </div>
</div>
