<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title"><i class="fa fa-fw fa-file"></i> Đổi mật khẩu </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="member-password__form" class="needs-validation" novalidate>
                                    <div class="row">
                                        <div class="col-md-6 offset-md-3 mb-2">
                                            <label for="member-password__form-old-password">Mật khẩu cũ:</label>
                                            <input id="member-password__form-old-password" type="password" class="form-control"
                                                placeholder="Nhập mật khẩu cũ" required />
                                            <div class="invalid-feedback">
                                                Vui lòng nhập mật khẩu cũ
                                            </div>
                                        </div>
                                        <div class="col-md-6 offset-md-3 mb-2">
                                            <label for="member-password__form-new-password">Mật khẩu mới:</label>
                                            <input id="member-password__form-new-password" type="password" class="form-control"
                                                placeholder="Nhập mật khẩu mới" required />
                                            <div class="invalid-feedback">
                                                Vui lòng nhập mật khẩu mới
                                            </div>
                                        </div>
                                        <div class="col-md-6 offset-md-3 mb-2">
                                            <label for="member-password__form-retype-password">Xác thực mật khẩu mới:</label>
                                            <input id="member-password__form-retype-password" type="password" class="form-control"
                                                placeholder="Xác thực mật khẩu mới" required />
                                            <div class="invalid-feedback">
                                                Vui lòng nhập xác thực mật khẩu mới
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="d-flex justify-content-center mt-4">
                                                <button type="submit" class="btn btn-space btn-success">
                                                    Xác nhận
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        const memberPasswordForm = document.getElementById('member-password__form')

        // Sự kiện gửi form lên
        memberPasswordForm.addEventListener('submit', function (event) {
            event.preventDefault()
            event.stopPropagation()
            if (memberPasswordForm.checkValidity() === false) {
                memberPasswordForm.classList.add('was-validated')
            } else {
                memberPasswordForm.classList.remove('was-validated')
            }
        }, false)
    })
</script>
