<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title"><i class="fa-solid fa-money-bill-transfer"></i> Chuyển tiền </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="member-transfer__form-info" class="needs-validation" novalidate>
                                    <div class="row">
                                        {{!-- Input số điện thoại người nhận --}}
                                        <div class="col-md-6 mb-2">
                                            <label for="member-transfer__form-info-phone">Số điện thoại người
                                                nhận:</label>
                                            <input id="member-transfer__form-info-phone" type="number"
                                                class="form-control" placeholder="Nhập số điện thoại người nhận"
                                                required />
                                            <div class="invalid-feedback">
                                                Vui lòng nhập số điện thoại
                                            </div>
                                            <p class="d-none text-danger" id="member-transfer__form-info-phone-invalid">
                                                Số điện thoại không hợp lệ</p>
                                        </div>

                                        {{!-- Input số tiền cần chuyển --}}
                                        <div class="col-md-6 mb-2">
                                            <label for="member-transfer__form-info-money">Số tiền chuyển:</label>
                                            <input id="member-transfer__form-info-money" type="number"
                                                class="form-control" placeholder="Nhập số tiền cần chuyển" required />
                                            <div class="invalid-feedback">
                                                Vui lòng nhập số tiền cần chuyển
                                            </div>
                                            <p class="d-none text-danger" id="member-transfer__form-info-money-invalid">
                                                Số tiền phải lớn hơn 0</p>
                                        </div>

                                        {{!-- Input ghi chú --}}
                                        <div class="col-md-12 mb-2">
                                            <label for="member-transfer__form-info-note">Ghi chú:</label>
                                            <textarea name="" id="member-transfer__form-info-note" class="w-100 px-2"
                                                cols="30" placeholder="Ghi chú"></textarea>
                                        </div>

                                        {{!-- Input phí chuyển tiền --}}
                                        <div class="col-md-12 mb-2">
                                            Phí giao dịch: <span id="member-transfer__form-info-fee">0đ</span> (5%
                                            số
                                            tiền chuyển khoản)
                                        </div>

                                        {{!-- Checkbox người nhận trả phí --}}
                                        <div class="col-md-12 mb-2">
                                            <input type="checkbox" id="member-transfer__form-info-checked">
                                            <label class="form-check-label" for="member-transfer__form-info-checked">
                                                Người nhận trả phí
                                            </label>
                                        </div>

                                        <div class="col-12">
                                            <div class="d-flex justify-content-end">
                                                <button type="submit" id="member-transfer__form-info-btn" class="btn btn-space btn-success">Xác
                                                    nhận</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <form id="member-transfer__form-confirm" class="needs-validation d-none" novalidate>
                                    <div class="row">
                                        {{!-- Input tên người nhận --}}
                                        <div class="col-md-6 mb-2">
                                            <label for="member-transfer__form-confirm-name">Tên người nhận:</label>
                                            <input id="member-transfer__form-confirm-name" type="number"
                                                class="form-control" placeholder="Nhập số điện thoại người nhận"
                                                readonly />
                                        </div>

                                        {{!-- Input mã OTP --}}
                                        <div class="col-md-6 mb-2">
                                            <label for="member-transfer__form-confirm-otp">Nhập mã OTP:</label>
                                            <input id="member-transfer__form-confirm-otp" type="number"
                                                class="form-control" placeholder="Nhập mã OTP" required />
                                            <div class="invalid-feedback">
                                                Vui lòng nhập mã OTP
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="d-flex justify-content-end">
                                                <button type="submit" class="btn btn-space btn-success">Chuyển tiền</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        const memberTransferInfoForm = document.getElementById("member-transfer__form-info")
        const memberTransferInfoInputPhone = $('#member-transfer__form-info-phone')
        const memberTransferInfoInputMoney = $('#member-transfer__form-info-money')
        const memberTransferInfoInputNote = $('#member-transfer__form-info-note')
        const memberTransferInfoChecked = $('#member-transfer__form-info-checked')
        const memberTransferInfoFee = $('#member-transfer__form-info-fee')
        const memberTransferInfoBtn = $('#member-transfer__form-info-btn')

        let memberTransferInfoPhone = false
        let memberTransferInfoMoney = false

        const memberTransferConfirmForm = document.getElementById("member-transfer__form-confirm")

        //* Xử lý Form Info */
        // Sự kiện gửi form lên
        memberTransferInfoForm.addEventListener('submit', function (event) {
            event.preventDefault()
            event.stopPropagation()
            if (memberTransferInfoForm.checkValidity() === false) {
                memberTransferInfoForm.classList.add('was-validated')
            } else {
                memberTransferInfoForm.classList.remove('was-validated')

                if (memberTransferInfoPhone && memberTransferInfoMoney) {
                    console.log('Lấy mã OTP và thông tin người nhận tiền')
                    memberTransferInfoBtn.addClass('d-none')

                    memberTransferInfoInputPhone.attr('readonly', true)
                    memberTransferInfoInputMoney.attr('readonly', true)
                    memberTransferInfoInputNote.attr('readonly', true)
                    memberTransferInfoChecked.attr('disabled', true)



                    memberTransferConfirmForm.classList.remove('d-none')
                }
            }
        }, false)

        // Bắt sự kiện nhập số điện thoại người nhận
        memberTransferInfoInputPhone.change(function () {
            const value = memberTransferInfoInputPhone.val()

            if (!isVietnamesePhoneNumber(value)) {
                $('#member-transfer__form-info-phone-invalid').removeClass('d-none')
                memberTransferInfoPhone = false
            } else {
                $('#member-transfer__form-info-phone-invalid').addClass('d-none')
                memberTransferInfoPhone = true
            }
        })

        // Bắt sự kiện nhập số tiền
        memberTransferInfoInputMoney.change(function () {
            const value = parseInt(memberTransferInfoInputMoney.val())

            if (!value || value <= 0) {
                $('#member-transfer__form-info-money-invalid').removeClass('d-none')
                memberTransferInfoMoney = false
            } else {
                $('#member-transfer__form-info-money-invalid').addClass('d-none')
                memberTransferInfoMoney = true

                // Tính phí gửi 
                memberTransferInfoFee.text(`${formatMoney(value * 0.05)}đ`)
            }
        })

        // Kiểm tra số điện thoại
        function isVietnamesePhoneNumber(number) {
            return /(84|0[3|5|7|8|9])+([0-9]{8})\b/.test(number);
        }

        // Format tiền
        function formatMoney(a) {
            const formatter = new Intl.NumberFormat('vi-VN')

            return formatter.format(a)
        }

        //** Xử lý Form Confirm */
        memberTransferConfirmForm.addEventListener('submit', function (event) {
            event.preventDefault()
            event.stopPropagation()
            if (memberTransferConfirmForm.checkValidity() === false) {
                memberTransferConfirmForm.classList.add('was-validated')
            } else {
                memberTransferConfirmForm.classList.remove('was-validated')
                alert('Chuyển tiền thành công')
            }
        }, false)
    })
</script>